spring.mail.host=localhost
spring.mail.port=1025
payments.mail.sender=

#Thymeleaf
spring.thymeleaf.check-template-location=true
spring.thymeleaf.prefix=classpath:/templates/
spring.thymeleaf.suffix=.html
spring.thymeleaf.mode=HTML5
spring.thymeleaf.encoding=UTF-8
spring.thymeleaf.content-type=text/html

##DATABASE PROPERTIES
spring.datasource.driverClassName=org.hsqldb.jdbc.JDBCDriver
spring.datasource.url=jdbc:hsqldb:mem:payments
spring.datasource.username=sa
spring.datasource.password=
spring.data.jpa.repositories.enabled=true
spring.jpa.show-sql=false
spring.jpa.database-platform=org.hibernate.dialect.HSQLDialect
spring.jpa.database=HSQL
spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.properties.hibernate.default_schema=PUBLIC
endpoints.cors.allow-credentials=*
endpoints.cors.allowed-origins=*
endpoints.cors.allowed-methods=*
endpoints.cors.allowed-headers=*
endpoints.cors.max-age=3600
security.basic.enabled=false
payments.returnUrl=http://localhost:9000
payments.paymentReturnUrl=http://ch.tudelft.nl
payments.molliekey=[CHANGE ME]
connect.issuerUri=https://connect.ch.tudelft.nl/
connect.clientUri=http://localhost:9000/
payments.admin.groups=chbeheer,bestuur,hoothub
# Serve connect
server.port=9000
payments.admin.username=admin
payments.admin.password=password
