spring:
  datasource:
    # DATABASE PROPERTIES
    driverClassName: org.hsqldb.jdbc.JDBCDriver
    # Change <MyDb> with the name of your database name
    url: jdbc:hsqldb:mem:payments

    # Username to log in to the database
    # It's recommended to create a dedicated Database user instead of using the default postgres user
    username: sa

    # Password to log in with <MyDbPassword> in database <MyDb>
    password:

  data.jpa.repositories.enabled: true

  jpa:
    # Set to false in production to prevent spamming of console
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    database: HSQL
    generate-ddl: true
    hibernate.hb2mddl.auto: create-drop

    # This setting defines the database creation/update behaviour. Change with caution.
    properties.hibernate.default_schema: public

  thymeleaf:
    # THYMELEAF (ThymeleafAutoConfiguration)
    check-template: true
    check-template-location: true
    suffix: .html
    mode: HTML
    encoding: UTF-8
    content-type: text/html

  mail:
    host: 127.0.0.1
    port: 1025

  security:
    oauth2:
      client:
        provider:
          wisvchconnect:
            issuer-uri: https://connect.ch.tudelft.nl
            clientUri: https://ch.tudelft.nl/payments/
        registration:
          wisvchconnect:
            client-id: <client id>
            client-secret: <client secret>
            scope:
              - openid
              - profile
              - email
              - ldap


flyway.enabled: false
endpoints.cors:
    allow-credentials: *
    allowed-origins: *
    allowed-methods: *
    allowed-headers: *
    max-age: 3600
security.basic.enabled: false

server:
  context-path: /payments/
  port: 9000

wisvch.connect:
  # Change <MyLDAPgroup> to a LDAP group you're in (e.g. hoothub, dienst2, etc.)
  admin-groups: chbeheer,bestuur

payments:
  mail.sender: sender@mail.com

  #This is the URL Mollie calls when an order gets an update.
  # https://www.mollie.com/nl/docs/webhook
  webhookUrl: https://ch.tudelft.nl

  # The return Url is the URL to which the user is redirected after the payment.
  # Can (and should) be overriden when creating a new order. This acts as a default fallback.
  returnUrl: http://ch.tudelft.nl

  molliekey: [CHANGE ME]
  # connect.issuerUri: https://connect.ch.tudelft.nl/
  # connect.clientUri: http://localhost:9000/
  admin:
    groups: chbeheer,bestuur,hoothub

    username: admin
    password: password
